
.body {
    background : blue;
    position: relative;
  
}

.editProfiletabs {
    padding: 35px;
    display:flex;
    max-height: 700px;
    max-width: 500px;
    flex-wrap:wrap;
    margin: -70px auto;
    top: 100px;
    bottom: 30px;   
   
}

.editProfiletabs input[type="radio"] {
    display: none;
    
}
    



.editProfiletabs label {
    padding: 25px;
    background: #317DFF;
    height: 100px;
    width: 200px;
    border-radius: 60px;
    

    

} 

.editProfiletabs .tab {
    width: 200%;
    padding: 20px;
    background: rgb(0, 0, 0);
    order: 1;
    display: none;
    height: 700px;
    border-radius: 40px;
 
}

.editProfiletabs input[type= 'radio']:checked + label + .tab{
    display: block;

}

.wrapper, .wrapper-2 {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 5px solid;
    justify-content: center;
    width: 700px;
    height: 800px;
    background: transparent;
    transition:.6s;
    align-items: center;
    top: 30px;
    left: 50%;
    transform: (-50%, -30%);
    margin: -50px 0 0 -350px;

} 



.wrapper h1, .wrapper-2 h2 {
    text-align: center;
    text-decoration: none;
}
 



.button {
    margin-top: auto;
    margin-bottom: 15px;
}


.wrapper .input-box  {
    position: relative;
    width : 220%;
    height: 50px;
    margin : 50px 0;  /* Amount of space in between input boxes*/
    align-items: center;
    border-radius: 40px;
    left: -50px;
}


 .wrapper-2 .input-box {
    position: relative;
    width : 300%;
    height: 50px;
    margin : 50px 0;
    align-items: center;
    border-radius: 40px;
    left: -50px;
    
}




.button-box {
    position: relative;
    width : 170%;
    height: 50px;
    margin : 40px 0; 
    transform: (-50%, -50%);
    margin: -40px 0 0 -70px;
    left: -50px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(50, 49, 49);
    outline: none;
    border-radius: 40px;
    padding: 0 10px 0 35px;
    transform: (-50%, -50%);
    margin: -40px 0 0 -150px;

} 
.input-box {
    width: 70%;
    margin: 20px auto;
    text-align: center;
} 


.wrapper .button , .wrapper-2 .button  {
    width: 130%;
    height: 60px;
    border-radius: 40px;
    background:#317DFF;
    cursor: pointer;
    font-size : 1em;
    font-weight: 600;

} 

/* Overrides */
.wrapper-2 .button {
    width: 175%;
    height: 60px

}

.wrapper:hover, .wrapper-2:hover {
    border: 5px solid  #317DFF;
    box-shadow: 0 0 30px  #317DFF, inset 0 0 30px  #317DFF;

} 









